name: CI Build and Release Tags

on:
  push:
    tags: "**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y golang make tar gzip
    
    - uses: actions/checkout@v3

    - name: Build
      run: make -j DISTS='linux/amd64 windows/amd64 darwin/amd64 darwin/arm64'

    - name: Create archives
      run: |
        cd dist
        for version in $(ls); do
          tar cvvfz "docker-credential-no-nonsense_$version.tar.gz" "$version"
        done

    - name: Create a Release
      uses: elgohr/Github-Release-Action@v4
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
      with:
        title: MyReleaseMessage